<html lang="de">
  <head>
    <meta charset="utf-8">
    <title>Stylesheet</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./styles/main.critical.css" media="all" />
    <link rel="preload" as="style" onload="this.onload=null;this.rel='stylesheet'" href="./styles/main.rest.css" media="all" />
  </head>
  <body>
    <div class="content">
      <!-- page content start-->
      Hello World!
      <!-- page content end -->
    </div>
    <script type="text/javascript" src="./main.js"></script>
  </body>
</html>
