/* reset css */

table {
  width: 100%;
  font-size: 0.9rem;
  border-collapse: collapse;

  margin-top: 1em;
  margin-bottom: 1em;
}

th {
  text-align: left;
}

tr {
  border-bottom: 1px solid #e6e8ea;
  border-bottom: 1px solid var(--gray-color);
}

td,
th {
  vertical-align: top;
  padding-right: 1rem;

  padding-top: 0.25em;
  padding-bottom: 0.25em;
}

td:last-child,
th:last-child {
  padding-right: 0;
}

table {
  --open-sans-fea-pnum: "pnum" off;
  --open-sans-fea-lnum: "lnum" on;

  -webkit-font-feature-settings: "aalt" off, "dnom" off,
    "frac" off, "liga" on,
    "lnum" off, "locl" on,
    "numr" off, "onum" on,
    "ordn" off, "pnum" on,
    "salt" off, "ss01" off,
    "ss02" off, "ss03" off,
    "subs" off, "sups" off,
    "tnum" off, "zero" off;

          font-feature-settings: "aalt" off, "dnom" off,
    "frac" off, "liga" on,
    "lnum" off, "locl" on,
    "numr" off, "onum" on,
    "ordn" off, "pnum" on,
    "salt" off, "ss01" off,
    "ss02" off, "ss03" off,
    "subs" off, "sups" off,
    "tnum" off, "zero" off;

  -webkit-font-feature-settings: var(--open-sans-fea-aalt), var(--open-sans-fea-dnom),
    var(--open-sans-fea-frac), var(--open-sans-fea-liga),
    var(--open-sans-fea-lnum), var(--open-sans-fea-locl),
    var(--open-sans-fea-numr), var(--open-sans-fea-onum),
    var(--open-sans-fea-ordn), var(--open-sans-fea-pnum),
    var(--open-sans-fea-salt), var(--open-sans-fea-ss01),
    var(--open-sans-fea-ss02), var(--open-sans-fea-ss03),
    var(--open-sans-fea-subs), var(--open-sans-fea-sups),
    var(--open-sans-fea-tnum), var(--open-sans-fea-zero);

          font-feature-settings: var(--open-sans-fea-aalt), var(--open-sans-fea-dnom),
    var(--open-sans-fea-frac), var(--open-sans-fea-liga),
    var(--open-sans-fea-lnum), var(--open-sans-fea-locl),
    var(--open-sans-fea-numr), var(--open-sans-fea-onum),
    var(--open-sans-fea-ordn), var(--open-sans-fea-pnum),
    var(--open-sans-fea-salt), var(--open-sans-fea-ss01),
    var(--open-sans-fea-ss02), var(--open-sans-fea-ss03),
    var(--open-sans-fea-subs), var(--open-sans-fea-sups),
    var(--open-sans-fea-tnum), var(--open-sans-fea-zero);
}

@media screen and (min-width: 37rem) {
  html {
    font-size: 17px;
  }
}

@media screen and (min-width: 60rem) {
  html {
    font-size: 20px;
  }
}

@media print {
  html {
    -webkit-print-color-adjust: exact;
    color-adjust: exact;
    font-size: 10pt;
  }
  a[href^="http"]::after {
    content: " (" attr(href) ")";
  }
  .content {
    margin-right: 0;
  }

    @page {
        size: A4;
        margin: 5mm 10mm 7mm 25mm;
    }


    .content {
        display: block;
        page-break-before: always;
        counter-increment: page;
        right: 0;
        top: 0;
        width: 100%;
        height: 1.5rem;
        border-bottom: 0.05rem solid black;
        margin-bottom: 3.5rem;
    }

        .content:after {
            display: inline-block;
            padding-top: 0.4em;
            content: "Signalwerk GmbH \B7   Stefan Huber \B7   CC BY-SA 4.0";
            float: left;
            white-space: nowrap;
            text-align: left;
            position: absolute;
        }

        .content:before {
            display: inline-block;
            padding-top: 0.0em;
            content: counter(page);
            content: " " counter(page);
            float: right;
            white-space: nowrap;
        }
  tr {
    page-break-inside: avoid;
    border-bottom: 0.1rem solid #e6e8ea;
    border-bottom: 0.1rem solid var(--gray-color);
  }
}
/*# sourceMappingURL=main.rest.css.map */