:root {
  --grid-item-column--span: 1;
  --grid-columns--count: 12;
}

.grid__inner {
  display: grid;
  grid-template-columns: repeat(var(--grid-columns--count), 1fr);
  grid-column-gap: 1.5rem;

  margin-left: auto;
  margin-right: auto;

  max-width: $document--content---max-width;
}

.grid__inner > .item {
  grid-column: span var(--grid-item-column--span);
}
