h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 700;
  margin-top: 1.4em;
  margin-bottom: 0.3em;
  line-height: 1.2;
  text-wrap: balance;
}

h1 {
  font-size: 1.2rem;
  margin-top: 0;
  margin-bottom: 0.9em;
}

h2 {
  font-size: 1.15rem;
  margin-top: 1.7em;
  margin-bottom: 0.5em;
}

h3 {
  font-size: 1rem;
}
