a {
  text-decoration: none;
  color: var(--green-color);
}

a:visited {
  color: var(--blue-color);
}

a:hover {
  color: inherit;
}


a[target="_blank"]:after {
  content: " ↗";
  font-size: 75%;
  font-weight: $open-sans-400-75p-compensated;
}

@media print {
  a[href^="http"]::after {
    content: " (" attr(href) ")";
  }
}
